.search-picker {
  height: 200px;
  margin-top: 10px;
  width: 100%;
  background-image: url("../../../../../../assets/images/travel (1).jpg");
}
.search-button {
  width: 155px;
  height: 52px;
}
.picker {
  width: 60%;
}
.mat-form-field-flex {
  background-color: rgb(255, 255, 255, 0.8) !important;
}
